@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

.text-p{
    font-family: 'poppins';
}

.text-q{
    font-family: 'quicksand';
}

.text-n{
    font-family: 'nunito';
}

.text-small{
    font-size: 12px;
}

.text-black{
    color: #000;
}

.text-title{
    font-weight: 700;
}

.font-medium{
    font-weight: 600;
}

.text-title-p{
    font-family: 'poppins'; 
    font-weight: 700 !important;
}

.text-title-q{
    font-family: 'quicksand'; 
    font-weight: 700 !important;
}

.text-title-n{
    font-family: 'nunito'; 
    font-weight: 700 !important;
}

.text-medium{
    font-weight: 600 !important;
    font-size: 18px !important;
}

.nav_li:hover{
    color: #0DCAF0;
    transition: 0.5s;
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.home-img{
    width: 100%;
}

.text-home{
    font-size: 24px;
    font-weight: 500;
}

.name{
    font-size: 32px;
    font-weight: 600;
}

.pp-bg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-home:hover{
    transition: .5s;
}

.scroll-down{
    height: 20vh;
}

.arrow-down{
    color: #0DCAF0;
    animation: dropdown 0.5s infinite alternate;
}

@keyframes dropdown {
    from{
        transform: translate(0, 1px);
    }

    to{
        transform: translate(0, -20px);
    }
}

.bg-about{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1600846309541-420e33acda4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
}

.bg-about-2{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.about{
    width: 100%;
    height: 80vh;
}

.about img{
    height: 300px;
}

.dzakwan{
    text-shadow: 3px 5px 0 rgba(0, 0, 0, 50%);
}


.footer-about{
    font-size: 12px;
    text-align: end;
}

.card-size{
    height: 300px;
    width: 200px;
}

.card-front, 
.card-back{
    height: 300px;
    width: 200px;
}

.card-flip div{
    backface-visibility: hidden;
    transition: transform 2000ms;
    position: absolute;
}

.card-front{
    transform: rotateY(0deg);
}

.card-back{
    transform: rotateY(180deg);
}

.card-size:hover .card-front{
    transform: rotateY(-180deg);
}

.card-size:hover .card-back{
    transform: rotateY(0deg);
}


.p-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.p-icon i{
    font-size: 3em;
}

.text-skill{
    font-size: 12px;
    text-align: center;
}

.project{
    margin-top: 100px;
}

.project-title .p1{
    font-size: 88px;
    text-shadow: 10px 15px 0 rgba(0, 0, 0, 25%);
    padding: 10px;
}

/* .carousel-project{
    padding: 0px 20px;
} */

.project-carousel{
    width: 100%;
}



.project-card{
    width: 100%;
}

.a-icon a{
    text-decoration: none;
    color: #000;
    font-size: 2em;
}

.img-supp img{
    width: 50px;
}

.footer{
    background-color: #0099ff;
}

.footer li{
    text-decoration: none;
    list-style: none;
}

.icon-footer a{
    color: white;
    font-size: 2em;
}

@media screen and (max-width:991px) {
    .project-title .p1{
        font-size: 64px !important;
    }

    .project-title{
        padding: 5px !important;
    }
}

@media screen and (max-width: 950px) {
    .carousel-desc h5{
        font-size: 18px;
    }

    .carousel-desc p{
        font-size: 14px;
    }
    
    .carousel-desc a{
        font-size: 14px;
    }
}

@media screen and (max-width: 870px) {
    .icon-footer a{
        font-size: 1.5em;
        margin: 2rem !important;
    }
}

@media screen and (max-width: 800px) {
    
    .about img{
        width: 250px;
        height: auto;
    }

    .about-desc h4{
        font-size: 20px;
    }

    
    .about-desc p {
        font-size: 16px;
    }
    
    .about-desc .footer-about{
        font-size: 10px;
    }

}

@media screen and (max-width: 767px) {
    
    .home-1{
        margin-top: 100px;
    }

    .text-home{
        font-size: 20px;
    }

    .name p{
        font-size: 28px;
    }

    .hero .d-flex{
        flex-direction: column;
    }

    .about{
        flex-direction: column;
    }

    .footer{
        padding: 20px;
    }

    .footer-1{
        flex-direction: column;
    }

}

@media screen and (max-width: 700px) {
    
    .certificate-slide .d-flex{
        flex-direction: column;
    }

    .wanna-see{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .since{
        padding-bottom: 10px;
        text-align: start !important;
    }
}